$small-screen: 599px;
$medium-screen: 600px;
$medium-x-screen: 900px;
$large-screen: 1200px;

@mixin mq($mq) {
  @if $mq == small {
    @media (max-width: $small-screen) {
      @content;
    }
  }
  @if $mq == medium {
    @media (min-width: $medium-screen) {
      @content;
    }
  }
  @if $mq == medium-landscape {
    @media (min-width: $medium-x-screen) {
      @content;
    }
  }
  @if $mq == large {
    @media (min-width: $large-screen) {
      @content;
    }
  }
}

$background_type: "orange", "pink", "red";

$bg_color: (
  "orange": rgba(255, 106, 0, 1),
  "pink": #ffb6c1,
  "red": #ff615d
);

@each $type in $background_type {
  .background-#{$type} {
    background: map_get($bg_color, $type);
  }
}

$section-bg: rgba(0, 0, 0, 0.05);
$section-border-clr: black;

body {
  height: 100%;
}

.app {
  height: 100%;
  padding: 5em;
  margin: 0;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  @include mq(small) {
    flex-direction: column;
  }
  @include mq(medium) {
    flex-direction: column;
  }
  @include mq(medium-landscape) {
    flex-direction: row;
  }
}

.section {
  display: flex;
  background: $section-bg;
  flex-direction: column;
  flex: 1;
  margin: 1rem;
  border: 1px solid $section-border-clr;
  .section-header {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    h2 {
      border-left: 1px solid $section-border-clr;
      border-bottom: 1px solid $section-border-clr;
      margin: 0;
      padding: 0.5rem 1rem;
    }
  }
  .section-content {
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
  .section-content {
    margin: 0;
    padding: 1.5rem;
  }
}

.list-1 {
  @include mq(small) {
    flex-direction: column;
  }
}

.list-1,
.list-2 {
  display: flex;
}
