.background-orange {
  background: #ff6a00; }

.background-pink {
  background: #ffb6c1; }

.background-red {
  background: #ff615d; }

body {
  height: 100%; }

.app {
  height: 100%;
  padding: 5em;
  margin: 0;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

.wrapper {
  display: flex;
  flex: 1;
  align-items: center; }
  @media (max-width: 599px) {
    .wrapper {
      flex-direction: column; } }
  @media (min-width: 600px) {
    .wrapper {
      flex-direction: column; } }
  @media (min-width: 900px) {
    .wrapper {
      flex-direction: row; } }

.section {
  display: flex;
  background: rgba(0, 0, 0, 0.05);
  flex-direction: column;
  flex: 1;
  margin: 1rem;
  border: 1px solid black; }
  .section .section-header {
    display: flex;
    justify-content: flex-end;
    flex: 1; }
    .section .section-header h2 {
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      margin: 0;
      padding: 0.5rem 1rem; }
  .section .section-content {
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: flex-end;
    flex: 1; }
  .section .section-content {
    margin: 0;
    padding: 1.5rem; }

@media (max-width: 599px) {
  .list-1 {
    flex-direction: column; } }

.list-1,
.list-2 {
  display: flex; }
